<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->
    <script src="../static/js/popup.js"></script>
  </head>
  <body>
    <!--
    <details><summary>Help❓</summary>
      <table class="table table-sm table-gray table-hover table-striped" style="min-width:40rem;">
        <thead>
          <tr>
            <th>Desc.</th>
            <th class="w-50">Hotkey</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Show console screen</td>
            <td><kbd>Alt+C</kbd></td>
          </tr>
          <tr>
            <td>Show status for opening tabs.</td>
            <td><kbd>git status</kbd></td>
          </tr>
        </tbody>
      </table>
    </details>
    -->
  </body>
</html>
