<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Get Favicon</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css" integrity="sha512-d0v474klOFSF7qD9WDvyRxAvXaWSxCHDZdnBSZQjo8BpVr6vpjwAgqetpqkKP38DzlOzdVPaLVnzzW1Ba8wB9w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="module" src="../static/js/pkg/svg2png.js"></script>
    <script defer type="module" src="../static/js/src/popup.js"></script>
    <style>
      body {width: 512px; height:256px;}
    </style>
  </head>
  <body>
    <main class="ml3 mt3"></main>
    <blockquote id="msg" class="ml2 athelas ml0 mt0 pl4 black-90 bl bw2 b--blue" hidden>
      <div class="f5 f4-m f3-l lh-copy measure mt0"></div>
      <cite class="f7 ttu tracked fs-normal">―<i>System Message</i></cite>
    </blockquote>
  </body>
</html>
